<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.owner">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="WrongManifestParent" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- Step 1: Add the following permission to the app -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" /> <!-- Step 2: This permission is depreciated in Android P -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBgtpHZMyOU1tEtUDxNu4psp5u3qmQON_I"/>
        <activity android:name=".Track_Device"></activity>
        <activity android:name=".TestOwner">

        </activity>
        <activity android:name=".Locker.checklock" />
        <activity android:name=".Locker.LockExplain" />
        <activity android:name=".apppermiss2" />
        <activity android:name=".appintro2" />
        <activity android:name=".acforpass" />
        <activity android:name=".apintro" />
        <activity android:name=".appermiss" />
        <activity android:name=".signin" />
        <activity android:name=".signup" />
        <activity android:name=".UserImageActivity" />
        <activity android:name=".luncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".DemoCamService"></service>
        <activity android:name=".Contact" />
        <service android:name=".mailservice"></service>
        <service android:name=".captureimage" />
        <activity android:name=".About" />
        <activity
            android:name=".FingerPrintAuthentication"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Tabactivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".CameraView"
            tools:ignore="Instantiatable" />

        <service
            android:name=".loc"
            android:noHistory="true" />
        <service android:name=".SMS" />
        <service android:name=".Battery" />
        <service android:name=".wifiscan" />
        <service android:name=".factoryresetservice" />
        <service android:name=".fivehourfactryresetservice" />
        <service android:name=".hourscreenlockservice" />
        <service android:name=".hourdontlockservice" />
        <service android:name=".Test_Owner.GpsTracker"
            tools:ignore="Instantiatable"></service>
        <receiver
            android:name=".Myadmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".FCMMessageReceiverService"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".screenlockservice" />
        <service android:name=".locationservice" />
        <service
            android:name=".MyFireBaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".mobileringservice" />
        <service android:name=".DontLockService" />
        <service android:name=".GetBackCoreService" />

        <receiver
            android:name=".onboot"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".screenunlock" />
        <receiver android:name=".hideapp">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity android:name=".Locker.activities.lock.GestureCreateActivity" />

        <receiver
            android:name=".Locker.receiver.LockRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"></receiver>

        <activity
            android:name=".Locker.activities.pwd.CreatePwdActivity"
            android:label="Create Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Locker.activities.lock.GestureSelfUnlockActivity"
            android:label="Unlock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Locker.activities.lock.GestureUnlockActivity"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/unlock_activity_style" />

        <service android:name=".Locker.services.LoadAppListService" />
        <service android:name=".Locker.services.LockService" />

        <receiver android:name=".Locker.receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>